---
import {Image} from 'astro:assets'
interface Props {
    title: string;
    description: string;
    imageSrc: Function;
    color: string;
}
const props = Astro.props
// console.log(props)
---
<div class:list={`tw-rounded-2xl tw-shadow-xl tw-p-8 tw-bg-gradient-to-b tw-from-${props.color}  tw-from-[5px] tw-to-[5px] tw-max-w-md tw-w-full tw-flex tw-flex-col tw-h-[260px]`}>
    <h2 class="tw-text-2xl">{props.title}</h2>
    <p class="tw-my-5 tw-text-grayish-blue tw-leading-8">{props.description}</p>
    <Image class="tw-self-end tw-mt-auto" src={props.imageSrc()} alt={props.title}/>
</div>
