---
import BaseFooter from '@components/BaseFooter.astro'
interface Props {
    title?: string,
    challengeUrl: string,
    repoUrl: string,
    mainClass?: string,
    layoutClass?: string,
    headerClass?: string,
    footerClass?: string,
    showH1?: boolean,
    h1Class?: string
}
const {
    title,
    challengeUrl,
    repoUrl,
    mainClass,
    layoutClass,
    headerClass,
    footerClass,
    showH1 = true,
    h1Class
} = Astro.props
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Frontend Mentor | {title}</title>
</head>
<body>
<div class={'tw-flex tw-flex-col tw-min-h-screen tw-mx-auto tw-px-6 ' + layoutClass}>
    <header class={headerClass}>
    </header>
    <main class={'tw-grow ' + mainClass}>
        <h1 class:list={[h1Class,{'tw-w-0 tw-h-0':!showH1}]}>{title}</h1>
        <slot/>
    </main>
    <footer class={footerClass}>
        <BaseFooter challengeUrl={challengeUrl} repoUrl={repoUrl}/>
    </footer>
</div>
</body>
</html>